body {
    display: flex;
    flex-direction: column;
    background-image: url("../images/football_field.jpg");
    font-family: 'Patua One', cursive;

}


.title {
    background-color: red;
    color: white;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    font-size: 40px;
    padding-top: 10px;
    font-family: 'Patua One', cursive;
}

.main {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 125px;
    
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    border-radius: 50%;
    background-color: rgb(70, 3, 3);

    .search-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 250px;
        height: 175px;
    }
}

.graphcontainer {
    height: 500px;
    width: 800px;
    background-color: white;

}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid black;
    padding: 14px;
    text-align: center;
  }


.bar > rect {
    stroke: black;
    stroke-width: 1;
}

.bar > text {
    fill: white;
    text-anchor: middle;
}

.footballfield {
    height: 400px;
    width: 800px;
}

.graphcontainer button {
    margin: 3px;
}

#compare-btn {
    font-weight: bold;
}

#reset-btn {
    font-weight: bold;
}

.button {
    background-color: #1e90ff;
    border-radius: 4px;
}

.resetButton {
    background-color: #1e90ff;
    border-radius: 4px;
}

.introGraph {
    background-color: blue;
}

.introGraphText {
    font-family: 'Patua One', cursive;
    color: white;
    font-size: 40px;
}
